*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html, body{
    height: 100%;
}

.center{
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

header{
    background-color: #212343;
    width: 100%; 
    height: 60px;
    padding: 0 2%;
}

header img{
    margin: 15px;    
}

.container-banner{
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
    padding: 0 2%;
}

.container-banner > .center{
    height: 100%;
}

.form{
    border: 8px solid #ccc;
    width: 400px;
    height: calc(100% + 30px) ;
    background-color: white;
    position: relative;
    padding: 20px;
    top: -15px;
    float: right;
}

.form h2{
    font-size: 20px;
    color: #999;
    font-weight: normal;
}

.input-container{
    margin-top: 20px;
}

.input-container span, form p{
    display: inline-block;
    width: 100%;
    color: #bbb;
    font-size: 17px;
}

form p{
    margin: 20px 0;
}

.input-container input[type=text]{
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding: 8px 10px;
}

.input-container input[type=text]:focus{
    outline: 0;
}

form input[type=submit]{
    display: inline-block;
    border: 0;
    border-bottom: 5px solid #4a5097;
    width: 280px;
    height: 56px;
    background-color: #363a6d;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.input-submit-container{
    text-align: center;
}

form input[type=submit]:hover{
    background-color: #323665;
}

.container-list{
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
    margin-top: 100px;
    padding: 10px 30px;
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color: white;
}

.container-2{
    padding: 40px 2%;
    background-color: #ddd;
    text-align: center;

}

.container-2 h2{
    font-weight: normal;
}

.container-2 p{
    display: inline-block;
    width: 100%;
    max-width: 768px;
    text-align: justify;
    margin: 15px 0;
}

.arrow{
    position: relative;
    top: 60px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100%;
}

.section-1{
    padding: 90px 0;
    padding: 0 2%;
}

.section-1 h2{
    margin-top: 30px;
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section{
    margin-top: 40px;
    text-align: center;
}

.container-single{
    display: inline-block;
    width: 30%;
    padding: 30px;
}

.container-single img{
    width: 70px;
}

.container-single p{
    text-align: justify;
    padding: 10px 25px;
}

footer{
    padding: 30px 0;
    border-top: 4px solid #888;
    text-align: center;
    color: #888;
}

footer p{
    margin-top: 8px;
}

@media screen and (max-width: 1024px) {
    header{
        height: auto;
        width: 100%; 
        text-align: center;
        padding: 15px 0;
    }

    header img{
        margin: 0;
    }

    .container-banner{
        height: auto;
        padding: 40px 2%;
        text-align: center;
    }
    .form{
        float: right;
        width: 60%;
        max-width: 400px;
        margin-top: 30px;
    }
    .container-list{
        float: left;
        width: 40%;
        max-width: 500px;
        height: auto;
    }
    .input-container input[type=text]{
        width: 100%;
    }
    .form input[type=submit]{
        max-width: 280px;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .container-2{
        padding-left: 4%;
        padding-right: 4%;
    }
    .container-banner{
        height: 1000px;
    }
    .container-list{
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }
    .form{
        float: none;
        display: inline-block;
        width: 90%;
        height: 60%;
    }
    .section-1 h2{
        margin-top: 30px;
    }
    .container-single{
        width: 100%;
        max-width: 600px;
        display: inline-block;
        float: none;
    }
}
