*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */

header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
}

.header-container img{
    width: 160px;
    height: 60px;
}

.header-container nav{
    width: 50%;
}

.header-container .mobile-menu{
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-image: url(../imagens/icon_menu.png);
    background-size: 100% 100%;
}

.header-container .mobile-menu ul{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
}

.header-container .mobile-menu li{
    font-size: 23px;
    text-align: center;
}

.header-container nav ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
}

.header-container ul nav li{
    display: inline-block;
    text-transform: uppercase;
    width: calc(100% / 6);
    font-style: italic;
}

.header-container ul li a{
    text-decoration: none;
    font-size: 23px;
    color: black;
}

.header-container .active a{
    color: #eb2d2d;
}

/* Banner */
section.banner{
    background-color: black;
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 80vh;
}

section.banner .chamada{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 10%;
    height: 80%;
    padding: 5% 0;
    margin-left: 15%;
}

section.banner h2{
    display: inline;
    padding: 10px 40px;
    margin-top: 20px;
    background-color: #eb2d2d;
    color: white;
    font-size: 30px;
    font-weight: 300;
}

section.banner p{
    background-color: lightgray;
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 20px;
}

/* Section veículos destaque */
section.veiculos-destaque{
    padding: 80px 2%;
}

.line-titulo{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.line-titulo .ln1{
    position: absolute;
    top: 20px;
    background-color: black;
    height: 2px;
    width: 100%;
}

.line-titulo > h2{
    position: relative;
    padding: 0 20px;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
    background-color: white;
    display: inline-block;
}

.carros-destaque{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.carros-destaque .carro-single{
    width: 30%;
}

.carro-single img{
    width: 100%;
}

.carro-single .texto-carro{
    text-align: left;
    color: black;
}

.carro-single .texto-carro h2{
    font-size: 18px;
    font-weight: 500;
}

.btn1{
    display: inline-block;
    text-decoration: none;
    background-color: #eb2d2d;
    color: white;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px 20px; 
    font-size: 15px;
}

.carro-single a{
    margin-top: 10px;
}

/* section informações */
section.informacoes{
    display: flex;
}

.servicos{
    width: 50%;
    padding: 70px 0;
    background-color: #242424;
    color: white;
    text-align: right;
}

.servicos-wraper{
    display: inline-block;
    text-align: left;
    padding-right: 20%;
}

.servicos-wraper h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.servicos-wraper ul{
    display: inline-block;
    margin-top: 20px;
}

.servicos-wraper li{
    margin-left: 15px;
}

.servicos-wraper a{
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    vertical-align: bottom;
}

.depoimentos{
    width: 50%;
    padding: 90px 100px;
    background-color: #eb2d2d;
    color: white;
}

.depoimentos h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.depoimentos .depoimento-single{
    margin-top: 19px;
}

.depoimento-single p{
    font-size: 22px;
}

.navigation{
    float: left;
    margin-top: 30px;
    width: 100%;
    max-width: 700px;
}

.arrows{
    float: left;
}

.navigation img{
    cursor: pointer;
    margin: 0 10px;
}

.nome-depoimento{
    float: right;
    color: #252525;
    font-size: 23px;
}

/* section contato */
section.contato{
    padding: 80px 2%;
}

section.contato form{
    max-width: 600px;
    margin: 0 auto;
}

section.contato .input-wraper{
    float: left;
    padding: 8px;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

section.contato input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

section.contato textarea{
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 8px;
    resize: none;
}

section.contato form .input-wraper:last-child{
    text-align: center;
}

section.contato input[type=submit]{
    cursor: pointer;
    font-size: 18px;
}
