section.venda-single{
    padding: 80px 2% 0 2%;
}

section.venda-single .line-titulo{
    max-width: 1000px;
}

section.venda-single .container{
    max-width: 1000px;
    text-align: center;
    padding: 40px 0 0 0;
}

.info-veiculo{
    width: 60%;
    display: inline-block;
    margin-right: -4px;
    margin-left: -4px;
}

.descricao-veiculo{
    display: inline-block;
    vertical-align: top;
    padding: 60px 20px;
    margin: -4px;
}

.descricao-veiculo p{
    font-size: 17px;
    margin-top: 25px;
    max-width: 300px;
    text-align: justify;
}

.descricao-veiculo a{
    margin-top: 25px;
}

.foto-destaque{
    width: 90%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    background-image: url(../imagens/carro1.jpg);
    background-repeat: no-repeat;
}

.nav-galeria-parent{
    width: 100%;
    padding: 36px;
    position: relative;
}

.arrow-left-nav{
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../imagens/arrow-left.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
}

.arrow-left-right{
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../imagens/arrow-right.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
}

.info-bread{
    padding: 20px 0;
    text-align: left;
}

.info-bread a{
    text-decoration: none;
    color: black;
}

.info-bread a:last-child{
    color: red;
}

.info-bread span{
    padding: 0 30px;
}

.nav-galeria{
    width: 100%;
    overflow: hidden;
}

.nav-galeria-wraper{
    width: 200%;
}

.mini-img-wraper{
    float: left;
    padding: 9px;
    width: calc(33.3% * (100 / 200));
}

.mini-img{
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-image: url(../imagens/carro1.jpg);
    width: 100%;
    height: 100%;
    padding-top: 70%;
}