header{
	width: 90%;
	max-width: 1150px;
	background-color: #FFF;
	padding: 10px;
	margin: 0 auto;
}

header .top-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 20px auto;
}

.input__struture{
	border: 1px solid #000;
	border-radius: 20px;
	padding: 4px;
}

.input__struture span{
	padding: 2px;
}

.top-header__input{
	background-color: rgba(190,190,190,0.2);
	border-radius: 10px;
	padding: 5px;
}

.menu ul{
	display: flex;
	border: 1px solid #000;
	border-radius: 8px;
	flex-direction: row;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
}

.menu ul li{
	padding: 6px;
	text-align: center;
	font-weight: 700;
	width: 25%;
}

.menu ul li:not(:last-child){
	border-right: 1px solid #000;
}