main {
	padding: 20px 0;
}
.descrition{
	display: flex;
	justify-content: space-around;
	align-items: center;
		background-color: var(--bgCinza);
	padding: 30px 20px;
}

.descrition__text{
	width: 50%;
}

.title{
	display: flex;
	align-items: center;
	padding: 5px;
}

.title h2{
	margin-left: 6px;
}

.descrition li{
	padding-top: 3px;
}

.descrition__image{
	padding: 15px;
	text-align: center;
}

.descrition__image span{
	width: 250px;
	border-radius: 25px;
}

.descrition__image .fa-solid{
	font-size: 10em;
}

.categorias{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px 30px;
	width: 90%;
	margin: 0 auto;
}

.categorias__content{
	padding: 15px;
	width: 100%;
	margin: 0 auto;
}

.categorias__content ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	margin: 0 auto;
}

.categorias__content li{
	width: 30%;
	height: 200px;
	display: inline-block;
	text-align: center;
	border: var(--bordaPadrao);
	border-radius: 20px;
	margin-top: 10px;
}

.categorias__content ul li .fa-solid{
	font-size: 5em;
	padding: 40px;
}

.categorias__content ul li span{
	width: 100%;
	height: 160px;
	background-color: var(--bgCinza);
	border-radius: 20px 20px 0 0;
}

.categorias__content ul li p{
	height: 4rem;
	font-weight: 700;
	padding: 4px;
}

footer{
	background-image: url("../images/footer.jpeg");
	background-size: 100% auto;
	color: var(--fontBranca);
}

.footer__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	padding: 5px 20px;
	margin: 0 auto;
}

.footer__container ul{
	display: flex;
	justify-content: space-around;
	padding: 8px;
}

.footer__container__nav{
	flex-direction: column;
}

.footer__container ul li{
	padding: 4px;
}

.fa-brands{
	color: var(--fontBranca);
	font-size: 2em;
	padding: 6px;
}

.copyright p{
	display: flex;
	justify-content: center;
	padding-bottom: 2em;
}