*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.clear{
    clear: both;
}

div.container{
    width: 1280px;
    margin: 0 auto;
}

/* Header */
header{
    width: 100%;
    height: 90vh;
    background-image: url(../imagens/capa.png);
    background-size: cover;
    background-position: center;
    padding: 40px 2%;
    font-weight: 300;
}

header .logo{
    width: 160px;
    height: 40px;
    background-color: #ccc;
    float: left;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    float: left;
    padding: 0 20px;
}

header nav a{
    text-decoration: none;
    color: white;
}

.chamada-1{
    float: right;
    margin: 140px 150px;
    max-width: 500px;
}

.chamada-1 h2{
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.chamada-1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

/* Nova sessão */
.sessao-1{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
}

.texto-sessao-1{
    float: left;
    color: white;
    font-weight: 300;
    width: 50%;
}

.texto-sessao-1 p{
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
}

.texto-sessao-1 ul{
    list-style-position: inside;
    font-size: 13px;
}

.texto-sessao-1 ul li{
    width: 100%;
    float: left;
}

.device-sessao-1{
    float: left;
    width: 50%;
    height: 300px;
    background-image: url(../imagens/device.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.sessao-1 .container {
    max-width: 1000px;
}

.btn-1{
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}